.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 20vw 80vw;
  overflow-y: hidden;
  .sidepanel {
    width: 20vw;
    background-color: #072d4d;
  }

  .content-container {
    width:80vw;
    display: grid;
    .header {
        height: 10rem;
        background: #2ba56d;
    }

    .content {
      height: 90vh;
      overflow-y: scroll;
      background: #ededed;
    }
  }

}